{% extends 'quiz/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row mb-4">
  <div class="col-md-4 col-sm-12 mb-3">
    <div class="dashboard-box text-center">
      <h5>Total Quizzes</h5>
      <h2>{{ total_quizzes }}</h2>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 mb-3">
    <div class="dashboard-box text-center">
      <h5>User</h5>
      <h2>{{ user.username }}</h2>
    </div>
  </div>
</div>

<div class="dashboard-box">
  <h4>Quiz History</h4>

  {% if results %}
  <div class="table-responsive">
    <table class="table table-hover mt-3">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Quiz</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ result.quiz.title }}</td>
          <td>{{ result.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>No quiz attempts yet.</p>
  {% endif %}
</div>

{% endblock %}
